<!DOCTYPE html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Document</title>
</head>
<body style="background-image: url('https://i.pinimg.com/originals/d2/a1/9e/d2a19e84d40965ea19539831420978b5.jpg'); background-size: cover;">

    <div class="container">

        <h2>Pesquisar</h2>

        <form action="/busca" method="POST">
            <input type="text" class="form-control" name="nome"/>
            <a href="/resultado"><button class="btn btn-primary">Pesquisar</button></a>
        </form>
        <br/>
        <a href="/" class="btn btn-danger">Voltar</a>
    </div>

</body>
</html>