<!DOCTYPE html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Document</title>
</head>
<body style="background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/b4347494-bc1a-4a9d-87af-8b3dcba44824/dccakw7-85edd7da-ac27-40f8-9848-fcc2e94db738.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwic3ViIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS53YXRlcm1hcmsiXSwib2JqIjpbW3sicGF0aCI6Ii9mL2I0MzQ3NDk0LWJjMWEtNGE5ZC04N2FmLThiM2RjYmE0NDgyNC9kY2Nha3c3LTg1ZWRkN2RhLWFjMjctNDBmOC05ODQ4LWZjYzJlOTRkYjczOC5wbmcifV1dLCJ3bWsiOnsicGF0aCI6Ii93bS9iNDM0NzQ5NC1iYzFhLTRhOWQtODdhZi04YjNkY2JhNDQ4MjQvaXRzdG90YWxseXRveGljLTQucG5nIiwib3BhY2l0eSI6OTUsInByb3BvcnRpb25zIjowLjQ1LCJncmF2aXR5IjoiY2VudGVyIn19.2YVNPTGkCTl-rL0L8dzhwp7OlkpYBrNgkxY8qqX8VuU'); background-size: cover; background-repeat: no-repeat;">

    <div class="container">

        <center><h2>Resultado da pesquisa</h2></center>

        <table class="table table-dark table-striped">
            <thead class="table table-dark table-striped">
                <tr>
                  <th scope="col">Nome</th>
                  <th scope="col">Forma</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              {% for resultado in lista2: %}
              <tr>
                  <td>{{ resultado['texto'] }}</td>
                  <td>{{ resultado['forma'] }} </td>
                  <td>{{ resultado['status']}}</td>
              </tr>
              {% endfor %}
        </table>

        <a href="/" class="btn btn-primary">Voltar</a>
    </div>

</body>
</html>